h2{
  display: flex;
font-family: Arial, sans-serif;
color: darkgreen;
}

span{
background-color: rgb(173, 173, 81);
margin-left: 20px;
color: white;
font-size: 1.5rem;

}
#tan{
font-size: 24px;
font-weight: bold;
color: blue;
margin-right: 10px;
  
  
}

button{
 
margin-left: 100px;
font-size: 1rem;
border-radius: 10%;
border: 1px solid tomato;

}

